
lab5/content/yolov5lu.onnx
lab4/mnasnet1_0.onnx
lab5/.ipynb_checkpoints/lab5-checkpoint.ipynb
lab5/content/yolov5lu.pt
lab5/content/yolov5lu_saved_model/metadata.yaml
lab5/content/yolov8s.onnx
lab5/content/yolov8s.pt
lab5/content/yolov8s_saved_model/metadata.yaml
lab5/imagenet_classes.txt
lab4/mnasnet1_0.onnx
lab5/mnasnet1_0.onnx
lab5/mnasnet1_0tf-lite
lab5/mnasnet1_0tf/fingerprint.pb
lab5/mnasnet1_0tf/saved_model.pb
lab5/mnasnet1_0tf/variables/variables.data-00000-of-00001
lab5/mnasnet1_0tf/variables/variables.index
lab5/test.jpg
lab5/yolov5lu.pt
lab5/yolov5su.pt
lab5/yolov8n.pt
lab5/yolov8s.pt
lab4/mnasnet1_0.onnx
